*.swp

code/tvt
code/src/obj
code/src/parser/obj

code/tvt_d
code/src/obj_d

code/test/UnitTests
code/test/obj
code/test/internal/obj
code/test/internal/ParserInternalTests

code/sandbox

code/*.vhdl

docs/*.png
docs/*.pdf

spec/notes

vhdl/*

vgcore*

profiling
