*.swp

code/tvt
code/src/obj

code/tvt_d
code/src/obj_d

code/test/RunUnitTests
code/test/obj
code/test/internal/obj
code/test/internal/ParserInternalTests

code/sandbox

code/*.vhdl

docs/*.png

vhdl/*

vgcore*

profiling
